<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somta.springboot.dao.UserDao" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.autodesk.www.model.User" >
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="money" property="money"/>
    </resultMap>

    <!-- th_role_user table all fields -->
    <sql id="Base_Column_List" >
        id, name, age, money
    </sql>

    <insert id="addUser" parameterType="com.autodesk.www.model.User" >
    insert into t_user (id, name, age,money)
    values (#{id},#{name},#{age},#{money});
</insert>

    <delete id="deleteUserById" parameterType="java.lang.Long">
 delete from t_user where id=#{id}
</delete>

    <update id="updateUserById" parameterType="com.autodesk.www.model.User" >
        update t_user set
        <trim  suffixOverrides="," >
            <if test="id != null and id != ''">
                id=#{id},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="age != null and age != ''">
                age=#{age},
            </if>
        </trim> where id=#{id}
    </update>

    <select id="queryUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" />
        from t_user where name=#{name}
    </select>

    <select id="queryUserList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_user
    </select>

</mapper>